{% extends 'base.html'%}

{% block conteudo%}

<div class="container">
    <h2>Sobre o projeto</h2>
    <p>O projeto consiste na criação de um aplicativo com o objetivo de promover a otimização do seu tempo. A gestão do tempo é um processo de priorização e organização que resulta em maior produtividade e eficiência.</p>
    
    <h2>Motivações</h2>
    <p>A gestão do tempo é tão importante pois ela permite clareza nas escolhas e possibilita dedicar melhor o seu tempo ao trabalho/estudos. Também ser mais produtivo e ter maior foco e concentração. Tudo isso para que, ao final do dia, você possa sentir aquele sentimento de dever comprido.</p>
    <p> Além dos benefícios na área profissional, a correta gestão do tempo também te permite evoluir na qualidade de vida e nos relacionamentos pessoais.</p>
    
    <h2></h2>
</div>

{% endblock%}